@CHARSET "UTF-8";

@charset "euc-kr";
/*웹폰트 나눔고딕*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*공통 유틸 :after {content:""; display:block; clear:both; } */
.webfont {
	font-family: "Malgun Gothic","맑은 고딕",Dotum,"돋움",Gulim,"굴림",Helvetica Neue,Helvetica,Arial,Verdana,Tahoma,sans-serif;
}

* {
	outline: none;
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, h4, h5, h6, a, button, input {
	font-family: "Raleway","HelveticaNeue","Helvetica Neue",nanumgothic,sans-serif!important;
	letter-spacing: 0.05em;
}
/*익스용 onfocus=this.blur();  */
a {
	selector-dummy: expression(this.hideFocus = true);
}

/*익스와 파폭용 onfocus=this.blur();  크롬은 자동 */
a:focus {
	outline: none;
}

a {
	outline-style: none;
	color: #000!important;
}

a:link, a:visited, a:active {
	text-decoration: none!important;
}

.marjin0 {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.disable {
	display: none
}

/*익스 8이하 버전의 시멘텍 사용가능 배려*/
article, aside, hgroup, header, footer, figure, figcaption, nav, section
	{
	display: block;
	clear: both;
}

/*브레이크 CSS */
html, body {
	width: 100%;
	height: 100%;
}

p, ul {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

li {
	list-style: none;
}

input {
	border-color: #F2F2F2;
	border-width: 1px;
	border-style: solid;
}

textarea {
	border-color: #F2F2F2;
	border-width: 0px;
	border-style: solid;
}

/*레이아웃*/
#footer {
	overflow-y: hidden;
	background-color: rgba(63, 63, 63, 1.00);
	padding-bottom: 10px;
	padding-top: 10px;
}
